<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FichierApprentissage" value="..\\..\\Data\\Apprentissage.txt" />
  </appSettings>
<connectionStrings><add name="Entities" connectionString="metadata=res://*/Data.Database_Model.csdl|res://*/Data.Database_Model.ssdl|res://*/Data.Database_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=etudiants.cegepsth.qc.ca;initial catalog=BDPerceptron-Equipe2;persist security info=True;user id=E1485074;password=Qwerty123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>